
#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/common.cfg"

video_shader = "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/shaders/zfast_crt_curve_vertical.glslp"
