overlays = 1

overlay0_overlay = asteroid.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel

--------------------------------------------------------

Bezel & Frame source credit goes to MLSchleps

Original Bezel & Frame source comes from...

- Artwork type: Bezel
- Scanned inner bezel provided by CADweazle
- Flat scans reconstructed into bezel by MarbleMad, www.kinetic-arts.co.uk
- Outer bezel vectored by Ad_Enuff
- Converted for MAME by Ad_Enuff
- Scanned Atari cocktail frame and Asteroids graphics provided by Mr. Do
- On loan from Gene at www.vintagearcade.net
- Vectored by jcroach
- Artwork Type:  Arcade Compilation
- From XBox Live Arcade
- From Atari Arcade Classics for PC
- Artwork Type:  Other
- 3-D artwork created by MarbleMad, based on official artwork
- Pencil artwork created by Mr. Do, based on official artwork; inspired by MetroDuck

This realistic arcade bezel for Asteroid could not have been made without these valuable contributors.
