overlays = 1

overlay0_overlay = beezer.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


Thank you to Mr. RetroLust for finding and restoring the bezel.