overlays = 1

overlay0_overlay = cracksht.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


- Based on photos by Shoegazer
- Recreated for MAME by Mr. Do
- Lay file by Mr. Do
