overlays = 1

overlay0_overlay = ddsom.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


Credit for the bezel goes to: Thechonv2

Credit for the Instruction cards:

- Artwork type: Inst. Card
- Scanned Inst. Card provided by CPS2Shock
- Converted for MAME by Mr. Do

