overlays = 1

overlay0_overlay = gauntlet.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


The main bezel frame was made by Thoggo and used with his permission.

