overlays = 1

overlay0_overlay = halleysc.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


Thanks and credit...

The original overlay was purchased by ArsInvictus 

ArsInvictus recreated the instruction card from photos he took of the actul arcade machine. He then recreated the card in vectors in Illustrator with text and effects in Photoshop. He also used a scan from Mr. Do's site.

