overlays = 1

overlay0_overlay = joust.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


- Artwork type: Bezel
- Scanned bezel provided by anoid
- Vectorized by Zorg; color corrected by Ad_Enuff
- Inst_Card provided by CAG / BYOAC Artwork
- Artwork type: Arcade Compilation
- From XBox Live Arcade for XBox 360
- From Midway Arcade Origins for XBox 360
- From Lego Dimensions Midway DLC for XBox 360
- Artwork type: Arcade Widescreen
- Widescreen graphics by hausjam
- Based on graphics in official arcade artwork
- Lay file by Mr. Do
