overlays = 1

overlay0_overlay = outzone.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel

--------------------------------------------------------

Original Bezel source comes from...

- Artwork type: Bezel, Marquee
- Scanned bezel provided by Smitdogg
- Scanned marquee provided by CAG / BYOAC Artwork
- Cleaned up for MAME by udb23
- Minor touchups by Mr. Do
