overlays = 1

overlay0_overlay = seascare.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


Credit goes to: Dreamstate

Credit goes to: Paul Swan at dragonslairfans.com

Check out his youtube channel - https://www.youtube.com/user/Zaccaria80