overlays = 1

overlay0_overlay = truxton.png


overlay0_full_screen = true

overlay0_descs = 0


#This Realistic Arcade Overlay was made by: OrionsAngel


This Artwork Bezel was made by: Mr. RetroLust
