
video_shader = "overlays/common/shaders/phosphor.glslp"

#include "overlays/common/horizontal.cfg"

input_overlay = overlays/aztarac.cfg

custom_viewport_width = "903"
custom_viewport_height = "677"
custom_viewport_x = "465"
custom_viewport_y = "227"