# wow this game is modern! it uses a flat screen :D
video_shader = "/opt/retropie/configs/all/retroarch/shaders/zfast_crt_standard.glslp"

#include "overlays/common/horizontal.cfg"

input_overlay = overlays/fgtlayer.cfg

custom_viewport_width = "837"
custom_viewport_height = "668"
custom_viewport_x = "531"
custom_viewport_y = "195"