#include "overlays/common/horizontal.cfg"

input_overlay = overlays/generic_neogeo_fight.cfg

custom_viewport_width = "909"
custom_viewport_height = "696"
custom_viewport_x = "518"
custom_viewport_y = "86"