#include "overlays/common/horizontal.cfg"

input_overlay = overlays/generic_neogeo.cfg

custom_viewport_width = "1026"
custom_viewport_height = "792"
custom_viewport_x = "450"
custom_viewport_y = "143"