
video_shader = "overlays/common/shaders/phosphor.glslp"

#include "overlays/common/horizontal.cfg"

input_overlay = overlays/redbaron.cfg

custom_viewport_width = "786"
custom_viewport_height = "614"
custom_viewport_x = "575"
custom_viewport_y = "243"