#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/10yard85.cfg

custom_viewport_width = "966"
custom_viewport_height = "722"
custom_viewport_x = "474"
custom_viewport_y = "138"