#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/19xx.cfg

custom_viewport_width = 584
custom_viewport_height = 772
custom_viewport_x = 684
custom_viewport_y = 198