#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/19xx.cfg

custom_viewport_width = "579"
custom_viewport_height = "765"
custom_viewport_x = "687"
custom_viewport_y = "204"