#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/3stooges.cfg

custom_viewport_width = "845"
custom_viewport_height = "654"
custom_viewport_y = "304"
custom_viewport_x = "542"