#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 605
custom_viewport_width = 769
custom_viewport_x = 563
custom_viewport_y = 346
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/3stooges.cfg