#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/88games.cfg

custom_viewport_width = "726"
custom_viewport_height = "512"
custom_viewport_y = "272"
custom_viewport_x = "546"