#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/8ballact.cfg

custom_viewport_width = "558"
custom_viewport_height = "762"
custom_viewport_y = "246"
custom_viewport_x = "702"