#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 592
custom_viewport_width = 742
custom_viewport_x = 572
custom_viewport_y = 363
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/aburner.cfg