#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 532
custom_viewport_width = 727
custom_viewport_x = 572
custom_viewport_y = 283
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/aliensyn.cfg
input_overlay_opacity = "1.000000"

