#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 799
custom_viewport_width = 994
custom_viewport_x = 451
custom_viewport_y = 116
input_overlay = /opt/retropie/configs/all/retroarch/overlay/alien3.cfg

