#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/alpine.cfg

custom_viewport_width = "640"
custom_viewport_height = "824"
custom_viewport_y = "176"
custom_viewport_x = "640"