#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/amidar.cfg

custom_viewport_width = "572"
custom_viewport_height = "776"
custom_viewport_y = "206"
custom_viewport_x = "652"