#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/amidar.cfg

custom_viewport_width = "581"
custom_viewport_height = "800"
custom_viewport_x = "686"
custom_viewport_y = "153"