#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/aquajack.cfg

custom_viewport_width = "734"
custom_viewport_height = "536"
custom_viewport_y = "268"
custom_viewport_x = "586"