#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 653
custom_viewport_width = 594
custom_viewport_x = 641
custom_viewport_y = 211
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/arabian.cfg