#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 745
custom_viewport_width = 578
custom_viewport_x = 644
custom_viewport_y = 158
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/arkanoid.cfg
input_overlay_opacity = "1.000000"

