#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/arkanoid.cfg

custom_viewport_width = "598"
custom_viewport_height = "765"
custom_viewport_y = "148"
custom_viewport_x = "634"