#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/astdelux.cfg

custom_viewport_width = 976
custom_viewport_height = 613
custom_viewport_y = 121
custom_viewport_x = 455