#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/asteroid.cfg

custom_viewport_width = "860"
custom_viewport_height = "664"
custom_viewport_x = "538"
custom_viewport_y = "238"