#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/asteroid.cfg

custom_viewport_width = "860"
custom_viewport_height = "664"
custom_viewport_x = "538"
custom_viewport_y = "238"