#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/astrowar.cfg

custom_viewport_width = 749
custom_viewport_height = 998
custom_viewport_y = 51
custom_viewport_x = 585