#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/atetris.cfg

custom_viewport_width = "855"
custom_viewport_height = "663"
custom_viewport_x = "548"
custom_viewport_y = "198"