
video_shader = "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/shaders/phosphor.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/aztarac.cfg

custom_viewport_width = "903"
custom_viewport_height = "677"
custom_viewport_x = "465"
custom_viewport_y = "227" 