#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/batlballu.cfg

custom_viewport_width = "794"
custom_viewport_height = "568"
custom_viewport_x = "258"
custom_viewport_y = "558"