#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 716
custom_viewport_width = 574
custom_viewport_x = 660
custom_viewport_y = 234
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/batrider.cfg