#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/berzerk.cfg

custom_viewport_width = "836"
custom_viewport_height = "664"
custom_viewport_y = "204"
custom_viewport_x = "536"