#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 665
custom_viewport_width = 804
custom_viewport_x = 558
custom_viewport_y = 186
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/blazstar.cfg