#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/bloodbro.cfg

custom_viewport_width = "750"
custom_viewport_height = "597"
custom_viewport_y = "218"
custom_viewport_x = "576"