#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/brkthru.cfg

custom_viewport_width = "863"
custom_viewport_height = "647"
custom_viewport_x = "540"
custom_viewport_y = "168"