#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/brvbladej.cfg

custom_viewport_width = 573
custom_viewport_height = 766
custom_viewport_y = 214
custom_viewport_x = 648