#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/btoads.cfg

custom_viewport_width = 1153
custom_viewport_height = 919
custom_viewport_x = 379
custom_viewport_y = 83