#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/btoads.cfg

custom_viewport_width = "1163"
custom_viewport_height = "930"
custom_viewport_x = "375"
custom_viewport_y = "78"