#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 631
custom_viewport_width = 841
custom_viewport_x = 524
custom_viewport_y = 219
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/bubbles.cfg