#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/buckrog.cfg

custom_viewport_width = 792
custom_viewport_height = 644
custom_viewport_y = 234
custom_viewport_x = 534