#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 667
custom_viewport_width = 807
custom_viewport_x = 570
custom_viewport_y = 175
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/cadash.cfg
suspend_screensaver_enable = "false"

