#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/cadash.cfg

custom_viewport_width = "1215"
custom_viewport_height = "915"
custom_viewport_y = "82"
custom_viewport_x = "352"