#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/calspeed.cfg

custom_viewport_width = "1025"
custom_viewport_height = "797"
custom_viewport_x = "461"
custom_viewport_y = "176"