#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/captaven.cfg

custom_viewport_width = "887"
custom_viewport_height = "633"
custom_viewport_x = "531"
custom_viewport_y = "234"