#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/twocrude.cfg

custom_viewport_width = "741"
custom_viewport_height = "549"
custom_viewport_x = "575"
custom_viewport_y = "263"