#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/cclimbr2.cfg

custom_viewport_width = "855"
custom_viewport_height = "680"
custom_viewport_x = "542"
custom_viewport_y = "194"