#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/champbas.cfg

custom_viewport_width = "810"
custom_viewport_height = "584"
custom_viewport_x = "252"
custom_viewport_y = "544"