#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 520
custom_viewport_width = 681
custom_viewport_x = 602
custom_viewport_y = 284
input_overlay = /opt/retropie/configs/all/retroarch/overlay/champwru.cfg

