#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/cheekyms.cfg

custom_viewport_width = "576"
custom_viewport_height = "800"
custom_viewport_x = "662"
custom_viewport_y = "114"