#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/choplift.cfg

custom_viewport_width = 823
custom_viewport_height = 632
custom_viewport_y = 212
custom_viewport_x = 534