#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ckong.cfg

custom_viewport_width = "669"
custom_viewport_height = "878"
custom_viewport_x = "623"
custom_viewport_y = "104"