#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/clshroad.cfg

custom_viewport_width = "735"
custom_viewport_height = "554"
custom_viewport_x = "605"
custom_viewport_y = "260"