#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/cobracom.cfg

custom_viewport_width = "785"
custom_viewport_height = "597"
custom_viewport_y = "266"
custom_viewport_x = "567"