#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/columns.cfg

custom_viewport_width = "858"
custom_viewport_height = "739"
custom_viewport_y = "161"
custom_viewport_x = "543"