#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 861
custom_viewport_width = 647
custom_viewport_x = 609
custom_viewport_y = 113
input_overlay = /opt/retropie/configs/all/retroarch/overlay/congo.cfg
input_overlay_opacity = "1.000000"

