#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/congo.cfg

custom_viewport_width = "667"
custom_viewport_height = "881"
custom_viewport_y = "103"
custom_viewport_x = "599"