#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_atari_ttl.cfg

custom_viewport_width = 700
custom_viewport_height = 524
custom_viewport_y = 332
custom_viewport_x = 610