#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/crimec.cfg

custom_viewport_width = "773"
custom_viewport_height = "576"
custom_viewport_x = "584"
custom_viewport_y = "260"