#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/crkdown.cfg

custom_viewport_width = "831"
custom_viewport_height = "682"
custom_viewport_y = "197"
custom_viewport_x = "532"