#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 547
custom_viewport_width = 746
custom_viewport_x = 596
custom_viewport_y = 266
input_overlay = /opt/retropie/configs/all/retroarch/overlay/crusnwld.cfg

