#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/crusnusa.cfg

custom_viewport_width = "766"
custom_viewport_height = "563"
custom_viewport_y = "259"
custom_viewport_x = "580"