#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/daioh.cfg

custom_viewport_width = "606"
custom_viewport_height = "790"
custom_viewport_y = "202"
custom_viewport_x = "666"