#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/darkadv.cfg

custom_viewport_width = "869"
custom_viewport_height = "670"
custom_viewport_y = "241"
custom_viewport_x = "521"