#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dbreed.cfg

custom_viewport_width = "990"
custom_viewport_height = "795"
custom_viewport_y = "143"
custom_viewport_x = "459"