#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 783
custom_viewport_width = 669
custom_viewport_x = 621
custom_viewport_y = 159
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dodonpachi.cfg