#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 814
custom_viewport_width = 643
custom_viewport_x = 608
custom_viewport_y = 144
input_overlay = /opt/retropie/configs/all/retroarch/overlay/ddpdoja.cfg
input_overlay_opacity = "1.000000"

