#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 536
custom_viewport_width = 735
custom_viewport_x = 580
custom_viewport_y = 247
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ddragon3.cfg