#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ddragon2.cfg

custom_viewport_width = "736"
custom_viewport_height = "545"
custom_viewport_y = "270"
custom_viewport_x = "595"