#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ddragon3.cfg

custom_viewport_width = "755"
custom_viewport_height = "556"
custom_viewport_y = "237"
custom_viewport_x = "570"