#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 662
custom_viewport_width = 798
custom_viewport_x = 558
custom_viewport_y = 201
input_overlay = /opt/retropie/configs/all/retroarch/overlay/ddribble.cfg
input_overlay_opacity = "1.000000"

