#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 705
custom_viewport_width = 882
custom_viewport_x = 507
custom_viewport_y = 192
input_overlay = /opt/retropie/configs/all/retroarch/overlay/ddsomu.cfg

