#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ddsomu.cfg

custom_viewport_width = "1163"
custom_viewport_height = "921"
custom_viewport_y = "76"
custom_viewport_x = "379"