#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ddtodu.cfg

custom_viewport_width = 882
custom_viewport_height = 708
custom_viewport_x = 510
custom_viewport_y = 186