#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/defender.cfg

custom_viewport_width = "850"
custom_viewport_height = "666"
custom_viewport_y = "190"
custom_viewport_x = "530"