#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/devstors.cfg

custom_viewport_width = "599"
custom_viewport_height = "806"
custom_viewport_x = "677"
custom_viewport_y = "138"