#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 685
custom_viewport_width = 596
custom_viewport_x = 616
custom_viewport_y = 209
input_overlay = /opt/retropie/configs/all/retroarch/overlay/digdug.cfg
input_overlay_hide_in_menu = "true"
input_overlay_opacity = "1.000000"

