#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/digdug2.cfg

custom_viewport_width = "572"
custom_viewport_height = "698"
custom_viewport_y = "174"
custom_viewport_x = "666"