#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dkong.cfg

custom_viewport_width = 664
custom_viewport_height = 785
custom_viewport_y = 157
custom_viewport_x = 620