#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 785
custom_viewport_width = 664
custom_viewport_x = 620
custom_viewport_y = 157
input_overlay = /opt/retropie/configs/all/retroarch/overlay/dkong.cfg
input_overlay_hide_in_menu = "true"
input_overlay_opacity = "1.000000"
video_vsync = "false"
video_window_save_positions = "true"

