#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dkongx.cfg

custom_viewport_width = "769"
custom_viewport_height = "1018"
custom_viewport_y = "41"
custom_viewport_x = "575"