#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dragnblz.cfg

custom_viewport_width = "634"
custom_viewport_height = "812"
custom_viewport_y = "176"
custom_viewport_x = "628"