#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/drgnunit.cfg

custom_viewport_width = "1005"
custom_viewport_height = "744"
custom_viewport_x = "459"
custom_viewport_y = "183"