#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/drivfrcp.cfg

custom_viewport_width = "548"
custom_viewport_height = "760"
custom_viewport_x = "676"
custom_viewport_y = "206"