#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/drivfrcp.cfg

custom_viewport_width = 578
custom_viewport_height = 741
custom_viewport_x = 672
custom_viewport_y = 215