#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dspirit.cfg

custom_viewport_width = "640"
custom_viewport_height = "845"
custom_viewport_y = "120"
custom_viewport_x = "633"