#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/dspirit.cfg

custom_viewport_width = "662"
custom_viewport_height = "816"
custom_viewport_x = "620"
custom_viewport_y = "137"