#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 705
custom_viewport_width = 587
custom_viewport_x = 666
custom_viewport_y = 263
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dspirit.cfg
input_overlay_opacity = "1.000000"

