#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 675
custom_viewport_width = 833
custom_viewport_x = 546
custom_viewport_y = 238
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dstlku.cfg