#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/dstlkur1.cfg

custom_viewport_width = "952"
custom_viewport_height = "802"
custom_viewport_y = "128"
custom_viewport_x = "488"