#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/dyger.cfg

custom_viewport_width = "588"
custom_viewport_height = "794"
custom_viewport_x = "675"
custom_viewport_y = "185"