
video_shader = "/opt/retropie/configs/all/retroarch/shaders/phosphor.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/elim2.cfg

custom_viewport_width = "773"
custom_viewport_height = "582"
custom_viewport_x = "563"
custom_viewport_y = "261"