#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/empcityu.cfg

custom_viewport_width = "789"
custom_viewport_height = "590"
custom_viewport_x = "584"
custom_viewport_y = "228"