#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/enduror.cfg

custom_viewport_width = 819
custom_viewport_height = 639
custom_viewport_y = 333
custom_viewport_x = 566