#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/Sega_Astro_City_Vertical.cfg

custom_viewport_width = 590
custom_viewport_height = 727
custom_viewport_y = 268
custom_viewport_x = 622