#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/espial.cfg

custom_viewport_width = "798"
custom_viewport_height = "575"
custom_viewport_x = "561"
custom_viewport_y = "251"