#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/eswat.cfg

custom_viewport_width = "790"
custom_viewport_height = "594"
custom_viewport_x = "630"
custom_viewport_y = "212"