#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/f1dream.cfg

custom_viewport_width = "809"
custom_viewport_height = "590"
custom_viewport_x = "588"
custom_viewport_y = "234"