#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/fastfred.cfg

custom_viewport_width = "545"
custom_viewport_height = "780"
custom_viewport_x = "699"
custom_viewport_y = "215"