#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = "753"
custom_viewport_width = "951"
custom_viewport_x = "496"
custom_viewport_y = "157"
input_overlay = /opt/retropie/configs/all/retroarch/overlay/neogeo.cfg

