#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/fghthist.cfg

custom_viewport_width = "869"
custom_viewport_height = "662"
custom_viewport_x = "539"
custom_viewport_y = "234"