# wow this game is modern! it uses a flat screen :D
video_shader = "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/shaders/zfast_crt_standard.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/fgtlayer.cfg

custom_viewport_width = "837"
custom_viewport_height = "668"
custom_viewport_x = "531"
custom_viewport_y = "195"