#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/finalb.cfg

custom_viewport_width = "678"
custom_viewport_height = "510"
custom_viewport_x = "612"
custom_viewport_y = "309"