#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/foodf.cfg

custom_viewport_width = "815"
custom_viewport_height = "620"
custom_viewport_x = "560"
custom_viewport_y = "230"