#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/friskyt.cfg

custom_viewport_width = "817"
custom_viewport_height = "661"
custom_viewport_y = "237"
custom_viewport_x = "551"