#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/frogger.cfg

custom_viewport_width = "704"
custom_viewport_height = "902"
custom_viewport_y = "120"
custom_viewport_x = "608"