#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 900
custom_viewport_width = 705
custom_viewport_x = 608
custom_viewport_y = 120
input_overlay = /opt/retropie/configs/all/retroarch/overlay/frogger.cfg

