#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ga2.cfg

custom_viewport_width = "1197"
custom_viewport_height = "897"
custom_viewport_x = "363"
custom_viewport_y = "11"