#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gaiden.cfg

custom_viewport_width = "775"
custom_viewport_height = "574"
custom_viewport_y = "243"
custom_viewport_x = "565"