#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/galaga88.cfg

custom_viewport_width = "588"
custom_viewport_height = "754"
custom_viewport_y = "238"
custom_viewport_x = "672"