#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/galpani2e.cfg

custom_viewport_width = "649"
custom_viewport_height = "810"
custom_viewport_y = "133"
custom_viewport_x = "611"