#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/galpanic.cfg

custom_viewport_width = "644"
custom_viewport_height = "809"
custom_viewport_y = "130"
custom_viewport_x = "636"