#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/galxwars.cfg

custom_viewport_width = 635
custom_viewport_height = 871
custom_viewport_y = 86
custom_viewport_x = 626