#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/gangwars.cfg

custom_viewport_width = "771"
custom_viewport_height = "573"
custom_viewport_x = "555"
custom_viewport_y = "264"