#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gaplus.cfg

custom_viewport_width = "628"
custom_viewport_height = "823"
custom_viewport_y = "128"
custom_viewport_x = "631"