#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gaunt2.cfg

custom_viewport_width = "958"
custom_viewport_height = "752"
custom_viewport_y = "160"
custom_viewport_x = "478"