#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_neogeo_jp.cfg

custom_viewport_width = "916"
custom_viewport_height = "666"
custom_viewport_y = "168"
custom_viewport_x = "556"