#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ghostb.cfg

custom_viewport_width = "771"
custom_viewport_height = "582"
custom_viewport_y = "264"
custom_viewport_x = "573"