#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gngjap.cfg

custom_viewport_width = 728
custom_viewport_height = 567
custom_viewport_y = 272
custom_viewport_x = 597