#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/goindol.cfg

custom_viewport_width = "563"
custom_viewport_height = "743"
custom_viewport_x = "692"
custom_viewport_y = "164"