#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/goldmedl.cfg

custom_viewport_width = "963"
custom_viewport_height = "750"
custom_viewport_x = "459"
custom_viewport_y = "159"