#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/goldnaxe.cfg

custom_viewport_width = "866"
custom_viewport_height = "671"
custom_viewport_y = "187"
custom_viewport_x = "528"