#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gravitar.cfg

custom_viewport_width = "840"
custom_viewport_height = "626"
custom_viewport_y = "158"
custom_viewport_x = "528"