#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/greatgun.cfg

custom_viewport_width = "906"
custom_viewport_height = "700"
custom_viewport_y = "316"
custom_viewport_x = "496"