#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/growl.cfg

custom_viewport_width = "767"
custom_viewport_height = "591"
custom_viewport_x = "585"
custom_viewport_y = "270"