#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gt2k.cfg

custom_viewport_width = "888"
custom_viewport_height = "706"
custom_viewport_y = "176"
custom_viewport_x = "508"