#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/guardian.cfg

custom_viewport_width = "936"
custom_viewport_height = "766"
custom_viewport_y = "156"
custom_viewport_x = "500"