#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 769
custom_viewport_width = 675
custom_viewport_x = 601
custom_viewport_y = 174
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gunbird.cfg
input_overlay_opacity = "1.000000"

