#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/gwar.cfg

custom_viewport_width = "680"
custom_viewport_height = "957"
custom_viewport_x = "635"
custom_viewport_y = "68"