#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/gyruss.cfg

custom_viewport_width = "558"
custom_viewport_height = "812"
custom_viewport_x = "658"
custom_viewport_y = "180"