#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/hbarrel.cfg

custom_viewport_width = "569"
custom_viewport_height = "759"
custom_viewport_x = "711"
custom_viewport_y = "173"