#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ikaria.cfg

custom_viewport_width = "579"
custom_viewport_height = "768"
custom_viewport_x = "702"
custom_viewport_y = "140"