#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_horizontal.cfg

custom_viewport_width = "1197"
custom_viewport_height = "897"
custom_viewport_x = "362"
custom_viewport_y = "92"
