#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/indytemp.cfg

custom_viewport_width = "920"
custom_viewport_height = "705"
custom_viewport_x = "459"
custom_viewport_y = "194"