#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/intrepid.cfg

custom_viewport_width = "610"
custom_viewport_height = "780"
custom_viewport_y = "214"
custom_viewport_x = "652"