#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 509
custom_viewport_width = 789
custom_viewport_x = 542
custom_viewport_y = 368
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/invaders.cfg