#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/jack.cfg

custom_viewport_width = "594"
custom_viewport_height = "786"
custom_viewport_x = "660"
custom_viewport_y = "114"