#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/journey.cfg

custom_viewport_width = "598"
custom_viewport_height = "816"
custom_viewport_y = "122"
custom_viewport_x = "674"