#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 845
custom_viewport_width = 654
custom_viewport_x = 621
custom_viewport_y = 84
input_overlay = /opt/retropie/configs/all/retroarch/overlay/journey.cfg

