#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/jrpacman.cfg

custom_viewport_width = "552"
custom_viewport_height = "730"
custom_viewport_y = "190"
custom_viewport_x = "748"