#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/jrpacman.cfg

custom_viewport_width = "575"
custom_viewport_height = "752"
custom_viewport_y = "178"
custom_viewport_x = "736"