#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/jungleh.cfg

custom_viewport_width = "861"
custom_viewport_height = "654"
custom_viewport_x = "513"
custom_viewport_y = "221"