#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 597
custom_viewport_width = 821
custom_viewport_x = 548
custom_viewport_y = 319
input_overlay = /opt/retropie/configs/all/retroarch/overlay/junglek.cfg

