#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 752
custom_viewport_width = 603
custom_viewport_x = 652
custom_viewport_y = 137
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/kchamp.cfg