#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/kick.cfg

custom_viewport_width = "530"
custom_viewport_height = "744"
custom_viewport_x = "678"
custom_viewport_y = "176"