#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/kingdmgp.cfg

custom_viewport_width = "600"
custom_viewport_height = "810"
custom_viewport_x = "660"
custom_viewport_y = "108"