#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/kingball.cfg

custom_viewport_width = "648"
custom_viewport_height = "860"
custom_viewport_x = "603"
custom_viewport_y = "108"