#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/kingball.cfg

custom_viewport_width = "648"
custom_viewport_height = "860"
custom_viewport_x = "603"
custom_viewport_y = "108"