#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/kinst.cfg

custom_viewport_width = "1154"
custom_viewport_height = "911"
custom_viewport_x = "386"
custom_viewport_y = "83"