#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/kram.cfg

custom_viewport_width = "770"
custom_viewport_height = "550"
custom_viewport_x = "554"
custom_viewport_y = "338"