#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ladybug.cfg

custom_viewport_width = "581"
custom_viewport_height = "819"
custom_viewport_x = "641"
custom_viewport_y = "123"