#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/lastmisn.cfg

custom_viewport_width = "542"
custom_viewport_height = "736"
custom_viewport_x = "684"
custom_viewport_y = "142"