#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/lazarian.cfg

custom_viewport_width = 877
custom_viewport_height = 661
custom_viewport_x = 531
custom_viewport_y = 220