#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 518
custom_viewport_width = 659
custom_viewport_x = 631
custom_viewport_y = 295
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ldrun.cfg
input_overlay_opacity = "1.000000"

