#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/llander.cfg

custom_viewport_width = 655
custom_viewport_height = 492
custom_viewport_y = 230
custom_viewport_x = 636