#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 754
custom_viewport_width = 607
custom_viewport_x = 642
custom_viewport_y = 182
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/lnc.cfg