#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/lnc.cfg

custom_viewport_width = "630"
custom_viewport_height = "778"
custom_viewport_y = "169"
custom_viewport_x = "631"