#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/lupin3.cfg

custom_viewport_width = "621"
custom_viewport_height = "777"
custom_viewport_x = "663"
custom_viewport_y = "243"