#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 711
custom_viewport_width = 609
custom_viewport_x = 667
custom_viewport_y = 183
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/lwings.cfg