#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/magmax.cfg

custom_viewport_width = "706"
custom_viewport_height = "512"
custom_viewport_x = "596"
custom_viewport_y = "318"