#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/maniach.cfg

custom_viewport_width = "500"
custom_viewport_height = "698"
custom_viewport_x = "724"
custom_viewport_y = "192"