#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/marble.cfg

custom_viewport_width = "1157"
custom_viewport_height = "919"
custom_viewport_y = "80"
custom_viewport_x = "378"