#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/marble.cfg

custom_viewport_width = "864"
custom_viewport_height = "666"
custom_viewport_x = "525"
custom_viewport_y = "206"