#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 632
custom_viewport_width = 809
custom_viewport_x = 549
custom_viewport_y = 220
input_overlay = /opt/retropie/configs/all/retroarch/overlay/mario.cfg

