#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/marvland.cfg

custom_viewport_width = 702
custom_viewport_height = 571
custom_viewport_y = 345
custom_viewport_x = 579