#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mercs.cfg

custom_viewport_width = "620"
custom_viewport_height = "804"
custom_viewport_y = "138"
custom_viewport_x = "650"