#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mercs.cfg

custom_viewport_width = "651"
custom_viewport_height = "790"
custom_viewport_y = "146"
custom_viewport_x = "630"