#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 770
custom_viewport_width = 631
custom_viewport_x = 640
custom_viewport_y = 156
input_overlay = /opt/retropie/configs/all/retroarch/overlay/mercs.cfg

