#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/mf_bdash.cfg

custom_viewport_width = "807"
custom_viewport_height = "582"
custom_viewport_x = "579"
custom_viewport_y = "186"