#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/midresu.cfg

custom_viewport_width = "750"
custom_viewport_height = "611"
custom_viewport_y = "241"
custom_viewport_x = "573"