#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 790
custom_viewport_width = 600
custom_viewport_x = 658
custom_viewport_y = 116
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/milliped.cfg