#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/missile2.cfg

custom_viewport_width = "1054"
custom_viewport_height = "837"
custom_viewport_y = "116"
custom_viewport_x = "420"