#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mmatrix.cfg

custom_viewport_width = "809"
custom_viewport_height = "649"
custom_viewport_y = "307"
custom_viewport_x = "537"