#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/montecar.cfg

custom_viewport_width = "596"
custom_viewport_height = "860"
custom_viewport_x = "656"
custom_viewport_y = "114"