#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = "574"
custom_viewport_width = "790"
custom_viewport_x = "545"
custom_viewport_y = "255"
input_overlay = /opt/retropie/configs/all/retroarch/overlay/moomesa.cfg
input_overlay_opacity = "1.000000"

