#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/mp_sonic.cfg

custom_viewport_width = "887"
custom_viewport_height = "650"
custom_viewport_x = "516"
custom_viewport_y = "210"