#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/Sega_Megadrive.cfg

custom_viewport_width = 766
custom_viewport_height = 639
custom_viewport_y = 300
custom_viewport_x = 555