#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mpatrol.cfg

custom_viewport_x = 571
custom_viewport_y = 233
custom_viewport_width = 777
custom_viewport_height = 632