#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 701
custom_viewport_width = 567
custom_viewport_x = 663
custom_viewport_y = 177
input_overlay = /opt/retropie/configs/all/retroarch/overlay/mrdo.cfg

