#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mrdrillrj.cfg

custom_viewport_width = "722"
custom_viewport_height = "591"
custom_viewport_y = "335"
custom_viewport_x = "569"