#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mshvsfj2.cfg

custom_viewport_width = "768"
custom_viewport_height = "616"
custom_viewport_y = "283"
custom_viewport_x = "539"