#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mshu.cfg

custom_viewport_width = 817
custom_viewport_height = 671
custom_viewport_x = 549
custom_viewport_y = 207