#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mshu.cfg

custom_viewport_width = "880"
custom_viewport_height = "648"
custom_viewport_x = "534"
custom_viewport_y = "220"