#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mspacman.cfg

custom_viewport_width = "568"
custom_viewport_height = "727"
custom_viewport_y = "225"
custom_viewport_x = "670"