#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/msword.cfg

custom_viewport_width = 712
custom_viewport_height = 580
custom_viewport_y = 243
custom_viewport_x = 621