#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mvsc.cfg

custom_viewport_width = "753"
custom_viewport_height = "546"
custom_viewport_x = "599"
custom_viewport_y = "263"