#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 591
custom_viewport_width = 733
custom_viewport_x = 585
custom_viewport_y = 258
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mvscu.cfg