#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 659
custom_viewport_width = 842
custom_viewport_x = 543
custom_viewport_y = 216
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mwalk.cfg