#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/mwalk.cfg

custom_viewport_width = "1203"
custom_viewport_height = "902"
custom_viewport_x = "357"
custom_viewport_y = "89"