#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/mystwarr.cfg

custom_viewport_width = "1097"
custom_viewport_height = "879"
custom_viewport_x = "405"
custom_viewport_y = "90"