#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 779
custom_viewport_width = 978
custom_viewport_x = 460
custom_viewport_y = 121
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/nbajam.cfg
input_overlay_opacity = "1.000000"

