#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/nbapbp.cfg

custom_viewport_width = 1008
custom_viewport_height = 733
custom_viewport_x = 461
custom_viewport_y = 148