#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/nbapbp.cfg

custom_viewport_width = "1001"
custom_viewport_height = "726"
custom_viewport_x = "467"
custom_viewport_y = "153"