#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ncv1j.cfg

custom_viewport_width = "549"
custom_viewport_height = "699"
custom_viewport_y = "277"
custom_viewport_x = "648"