#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_neogeo_red.cfg

custom_viewport_width = 1042
custom_viewport_height = 792
custom_viewport_x = 448
custom_viewport_y = 139