#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/outrun.cfg

custom_viewport_width = "811"
custom_viewport_height = "667"
custom_viewport_y = "183"
custom_viewport_x = "567"