#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 647
custom_viewport_width = 791
custom_viewport_x = 577
custom_viewport_y = 193
input_overlay = /opt/retropie/configs/all/retroarch/overlay/outrun.cfg

