#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/outrundx.cfg

custom_viewport_width = 791
custom_viewport_height = 647
custom_viewport_y = 196
custom_viewport_x = 576