#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/outzonea.cfg

custom_viewport_width = "538"
custom_viewport_height = "714"
custom_viewport_y = "194"
custom_viewport_x = "698"