#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/pacman.cfg

custom_viewport_width = "670"
custom_viewport_height = "820"
custom_viewport_x = "610"
custom_viewport_y = "238"