#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 844
custom_viewport_width = 623
custom_viewport_x = 638
custom_viewport_y = 136
input_overlay = /opt/retropie/configs/all/retroarch/overlay/pacman.cfg
video_window_save_positions = "true"

