#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/pacmania.cfg

custom_viewport_width = "622"
custom_viewport_height = "804"
custom_viewport_y = "136"
custom_viewport_x = "678"