#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/pacnpal.cfg

custom_viewport_width = "500"
custom_viewport_height = "674"
custom_viewport_y = "174"
custom_viewport_x = "694"