#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 566
custom_viewport_width = 694
custom_viewport_x = 604
custom_viewport_y = 249
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/pang.cfg