#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/panic.cfg

custom_viewport_width = "580"
custom_viewport_height = "780"
custom_viewport_y = "118"
custom_viewport_x = "656"