#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 675
custom_viewport_width = 856
custom_viewport_x = 525
custom_viewport_y = 184
input_overlay = /opt/retropie/configs/all/retroarch/overlay/pitfight.cfg
input_overlay_opacity = "1.000000"

