#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/polepos2a.cfg

custom_viewport_width = "882"
custom_viewport_height = "690"
custom_viewport_x = "522"
custom_viewport_y = "201"