#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/polepos.cfg

custom_viewport_width = "690"
custom_viewport_height = "564"
custom_viewport_x = "615"
custom_viewport_y = "288"