#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 433
custom_viewport_width = 589
custom_viewport_x = 670
custom_viewport_y = 582
input_overlay = /opt/retropie/configs/all/retroarch/overlay/pong.cfg

