#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 609
custom_viewport_width = 823
custom_viewport_x = 570
custom_viewport_y = 232
input_overlay = /opt/retropie/configs/all/retroarch/overlay/popeye.cfg

