#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/primrage.cfg

custom_viewport_width = "864"
custom_viewport_height = "644"
custom_viewport_x = "531"
custom_viewport_y = "219"