#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 637
custom_viewport_width = 783
custom_viewport_x = 551
custom_viewport_y = 175
input_overlay = /opt/retropie/configs/all/retroarch/overlay/progear.cfg

