#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/psu.cfg

custom_viewport_width = "1332"
custom_viewport_height = "872"
custom_viewport_y = "19"
custom_viewport_x = "302"