#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/psychos.cfg

custom_viewport_width = "766"
custom_viewport_height = "552"
custom_viewport_x = "576"
custom_viewport_y = "268"