#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/puckman.cfg

custom_viewport_width = "638"
custom_viewport_height = "806"
custom_viewport_y = "184"
custom_viewport_x = "644"