#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/pyros.cfg

custom_viewport_width = "714"
custom_viewport_height = "522"
custom_viewport_y = "292"
custom_viewport_x = "594"