#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/qbert.cfg

custom_viewport_width = "664"
custom_viewport_height = "842"
custom_viewport_y = "123"
custom_viewport_x = "611"