#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 779
custom_viewport_width = 613
custom_viewport_x = 659
custom_viewport_y = 198
input_overlay = /opt/retropie/configs/all/retroarch/overlay/qix.cfg

