#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 622
custom_viewport_width = 784
custom_viewport_x = 557
custom_viewport_y = 227
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/quartet2.cfg
input_overlay_opacity = "1.000000"
