#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/radarscp.cfg

custom_viewport_width = "726"
custom_viewport_height = "840"
custom_viewport_x = "594"
custom_viewport_y = "83"