#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 594
custom_viewport_width = 815
custom_viewport_x = 559
custom_viewport_y = 250
input_overlay = /opt/retropie/configs/all/retroarch/overlay/rastan.cfg

