#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/raystormj.cfg

custom_viewport_width = "758"
custom_viewport_height = "568"
custom_viewport_y = "368"
custom_viewport_x = "563"