#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 633
custom_viewport_width = 857
custom_viewport_x = 549
custom_viewport_y = 187
input_overlay = /opt/retropie/configs/all/retroarch/overlay/rbtapper.cfg

