#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rbtapper.cfg

custom_viewport_width = "881"
custom_viewport_height = "657"
custom_viewport_y = "175"
custom_viewport_x = "538"