#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rdft.cfg

custom_viewport_width = "530"
custom_viewport_height = "730"
custom_viewport_y = "182"
custom_viewport_x = "694"