#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 675
custom_viewport_width = 520
custom_viewport_x = 685
custom_viewport_y = 204
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/redalert.cfg