
video_shader = "/opt/retropie/configs/all/retroarch/shaders/phosphor.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/redbaron.cfg

custom_viewport_width = "786"
custom_viewport_height = "614"
custom_viewport_x = "575"
custom_viewport_y = "243"