#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/redearth.cfg

custom_viewport_width = 863
custom_viewport_height = 627
custom_viewport_y = 220
custom_viewport_x = 505