#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/revx.cfg

custom_viewport_width = "1020"
custom_viewport_height = "675"
custom_viewport_x = "440"
custom_viewport_y = "120"