#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ridgerac.cfg

custom_viewport_width = "1001"
custom_viewport_height = "680"
custom_viewport_x = "432"
custom_viewport_y = "179"