#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rampage.cfg

custom_viewport_width = "716"
custom_viewport_height = "562"
custom_viewport_x = "602"
custom_viewport_y = "180"