#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/robby.cfg

custom_viewport_width = "875"
custom_viewport_height = "645"
custom_viewport_x = "521"
custom_viewport_y = "164"