#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = "701"
custom_viewport_width = "833"
custom_viewport_x = "539"
custom_viewport_y = "199"
input_overlay = /opt/retropie/configs/all/retroarch/overlay/robocop.cfg

