#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rocnrope.cfg

custom_viewport_width = "490"
custom_viewport_height = "680"
custom_viewport_x = "716"
custom_viewport_y = "190"