#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rtype.cfg

custom_viewport_width = 787
custom_viewport_height = 600
custom_viewport_y = 230
custom_viewport_x = 555