#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/rtype.cfg

custom_viewport_width = "821"
custom_viewport_height = "660"
custom_viewport_x = "543"
custom_viewport_y = "129"