#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rushatck.cfg

custom_viewport_width = "866"
custom_viewport_height = "723"
custom_viewport_y = "196"
custom_viewport_x = "525"