#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/rygar.cfg

custom_viewport_width = "736"
custom_viewport_height = "603"
custom_viewport_y = "241"
custom_viewport_x = "577"