#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/scontra.cfg

custom_viewport_width = "621"
custom_viewport_height = "863"
custom_viewport_x = "648"
custom_viewport_y = "108"