#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/searchar.cfg

custom_viewport_width = "600"
custom_viewport_height = "798"
custom_viewport_x = "666"
custom_viewport_y = "129"