#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/sexyparo.cfg

custom_viewport_width = "936"
custom_viewport_height = "699"
custom_viewport_x = "486"
custom_viewport_y = "186"