#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sf.cfg

custom_viewport_width = "1182"
custom_viewport_height = "906"
custom_viewport_x = "360"
custom_viewport_y = "86"