#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sf2ce.cfg

custom_viewport_width = 844
custom_viewport_height = 650
custom_viewport_y = 220
custom_viewport_x = 547