#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sfa3.cfg

custom_viewport_width = "954"
custom_viewport_height = "758"
custom_viewport_y = "148"
custom_viewport_x = "470"