#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 627
custom_viewport_width = 779
custom_viewport_x = 561
custom_viewport_y = 186
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sfalpha3.cfg