#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 648
custom_viewport_width = 802
custom_viewport_x = 546
custom_viewport_y = 217
input_overlay = /opt/retropie/configs/all/retroarch/overlay/sfiii3.cfg

