#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sfua.cfg

custom_viewport_width = 765
custom_viewport_height = 567
custom_viewport_y = 230
custom_viewport_x = 574