#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sfz3j.cfg

custom_viewport_width = "787"
custom_viewport_height = "597"
custom_viewport_y = "324"
custom_viewport_x = "554"