#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/shdancer.cfg

custom_viewport_width = "776"
custom_viewport_height = "645"
custom_viewport_y = "201"
custom_viewport_x = "580"