#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 657
custom_viewport_width = 812
custom_viewport_x = 554
custom_viewport_y = 203
input_overlay = /opt/retropie/configs/all/retroarch/overlay/shinobi.cfg

