#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/shuuz.cfg

custom_viewport_width = "834"
custom_viewport_height = "638"
custom_viewport_x = "561"
custom_viewport_y = "207"