#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/sidearms.cfg

custom_viewport_width = "795"
custom_viewport_height = "603"
custom_viewport_x = "579"
custom_viewport_y = "264"