#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/simpsons.cfg

custom_viewport_width = "1078"
custom_viewport_height = "858"
custom_viewport_y = "100"
custom_viewport_x = "428"