#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/skyskipr.cfg

custom_viewport_width = "909"
custom_viewport_height = "666"
custom_viewport_x = "501"
custom_viewport_y = "225"