#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 539
custom_viewport_width = 709
custom_viewport_x = 586
custom_viewport_y = 300
input_overlay = /opt/retropie/configs/all/retroarch/overlay/slyspy.cfg

