#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/smashtv.cfg

custom_viewport_width = "942"
custom_viewport_height = "702"
custom_viewport_x = "484"
custom_viewport_y = "184"