#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 695
custom_viewport_width = 943
custom_viewport_x = 473
custom_viewport_y = 176
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/smashtv.cfg
input_overlay_opacity = "1.000000"

