#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/snapjack.cfg

custom_viewport_width = "758"
custom_viewport_height = "615"
custom_viewport_y = "262"
custom_viewport_x = "585"