#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/snapjack.cfg

custom_viewport_width = "720"
custom_viewport_height = "550"
custom_viewport_y = "296"
custom_viewport_x = "604"