#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/solarq.cfg

custom_viewport_width = "744"
custom_viewport_height = "484"
custom_viewport_y = "266"
custom_viewport_x = "574"