#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 549
custom_viewport_width = 733
custom_viewport_x = 581
custom_viewport_y = 224
input_overlay = /opt/retropie/configs/all/retroarch/overlay/solrwarr.cfg
input_overlay_opacity = "1.000000"

