#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_namco.cfg

custom_viewport_width = 1029
custom_viewport_height = 855
custom_viewport_x = 440
custom_viewport_y = 107