#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/spacezap.cfg

custom_viewport_width = "1046"
custom_viewport_height = "834"
custom_viewport_x = "434"
custom_viewport_y = "122"