#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/spacewar.cfg

custom_viewport_width = 668
custom_viewport_height = 466
custom_viewport_y = 291
custom_viewport_x = 627