#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/spclforc.cfg

custom_viewport_width = "571"
custom_viewport_height = "679"
custom_viewport_y = "170"
custom_viewport_x = "658"