#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/spectar.cfg

custom_viewport_width = "1149"
custom_viewport_height = "885"
custom_viewport_x = "381"
custom_viewport_y = "87"