#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/splatter.cfg

custom_viewport_width = "1022"
custom_viewport_height = "804"
custom_viewport_x = "446"
custom_viewport_y = "140"