#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/sprint2.cfg

custom_viewport_width = "637"
custom_viewport_height = "512"
custom_viewport_y = "468"
custom_viewport_x = "642"