#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/spyhunt.cfg

custom_viewport_width = "750"
custom_viewport_height = "1001"
custom_viewport_x = "585"
custom_viewport_y = "51"