#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/srumbler.cfg

custom_viewport_width = "590"
custom_viewport_height = "732"
custom_viewport_y = "173"
custom_viewport_x = "651"