#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ssf2xj.cfg

custom_viewport_width = "1060"
custom_viewport_height = "582"
custom_viewport_y = "286"
custom_viewport_x = "424"