#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 806
custom_viewport_width = 947
custom_viewport_x = 480
custom_viewport_y = 123
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/ssf2t.cfg