#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/ssf2.cfg

custom_viewport_width = "903"
custom_viewport_height = "680"
custom_viewport_x = "513"
custom_viewport_y = "173"