#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 712
custom_viewport_width = 874
custom_viewport_x = 536
custom_viewport_y = 173
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/superchs.cfg