#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/superman.cfg

custom_viewport_width = "797"
custom_viewport_height = "587"
custom_viewport_x = "531"
custom_viewport_y = "270"