#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 670
custom_viewport_width = 864
custom_viewport_x = 500
custom_viewport_y = 209
input_overlay = /opt/retropie/configs/all/retroarch/overlay/svc.cfg
input_overlay_opacity = "1.000000"

