#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/swimmer.cfg

custom_viewport_width = "801"
custom_viewport_height = "570"
custom_viewport_x = "570"
custom_viewport_y = "312"