
video_shader = "/opt/retropie/configs/all/retroarch/shaders/phosphor.glslp"

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/tacscan.cfg

custom_viewport_width = "776"
custom_viewport_height = "986"
custom_viewport_x = "576"
custom_viewport_y = "51"