#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tehkanwc.cfg

custom_viewport_width = "675"
custom_viewport_height = "603"
custom_viewport_y = "293"
custom_viewport_x = "623"