#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tekken2.cfg

custom_viewport_width = 944
custom_viewport_height = 754
custom_viewport_y = 163
custom_viewport_x = 480