#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/term2.cfg

custom_viewport_width = "827"
custom_viewport_height = "684"
custom_viewport_x = "564"
custom_viewport_y = "125"