#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/atetris.cfg

custom_viewport_width = 690
custom_viewport_height = 561
custom_viewport_x = 579
custom_viewport_y = 253