#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/thief.cfg

custom_viewport_width = "897"
custom_viewport_height = "752"
custom_viewport_x = "494"
custom_viewport_y = "150"