#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/thundfox.cfg

custom_viewport_width = "790"
custom_viewport_height = "604"
custom_viewport_x = "552"
custom_viewport_y = "214"