#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/timber.cfg

custom_viewport_width = "830"
custom_viewport_height = "629"
custom_viewport_x = "534"
custom_viewport_y = "231"