#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/timesold.cfg

custom_viewport_width = "561"
custom_viewport_height = "756"
custom_viewport_x = "693"
custom_viewport_y = "171"