#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tinstar.cfg

custom_viewport_width = "822"
custom_viewport_height = "558"
custom_viewport_x = "564"
custom_viewport_y = "324"