#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tknight.cfg

custom_viewport_width = "762"
custom_viewport_height = "578"
custom_viewport_x = "609"
custom_viewport_y = "245"