#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/tmnt2.cfg

custom_viewport_width = "888"
custom_viewport_height = "645"
custom_viewport_x = "489"
custom_viewport_y = "234"