#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 736
custom_viewport_width = 613
custom_viewport_x = 631
custom_viewport_y = 177
input_overlay = /opt/retropie/configs/all/retroarch/overlay/seascare.cfg
input_overlay_opacity = "1.000000"

