#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/toobin.cfg

custom_viewport_width = "651"
custom_viewport_height = "878"
custom_viewport_x = "612"
custom_viewport_y = "116"