#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/topgunnr.cfg

custom_viewport_width = "739"
custom_viewport_height = "575"
custom_viewport_y = "306"
custom_viewport_x = "591"