#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tron.cfg

custom_viewport_width = "394"
custom_viewport_height = "483"
custom_viewport_y = "362"
custom_viewport_x = "758"