#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tturfu.cfg

custom_viewport_width = 781
custom_viewport_height = 602
custom_viewport_y = 248
custom_viewport_x = 555