#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 756
custom_viewport_width = 568
custom_viewport_x = 773
custom_viewport_y = 189
input_overlay = /opt/retropie/configs/all/retroarch/overlay/turbo.cfg
video_refresh_rate = "60.000999"

