#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/turtles.cfg

custom_viewport_width = "600"
custom_viewport_height = "790"
custom_viewport_y = "188"
custom_viewport_x = "644"