#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/tutankhm.cfg

custom_viewport_width = "570"
custom_viewport_height = "701"
custom_viewport_y = "185"
custom_viewport_x = "661"