#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 601
custom_viewport_width = 788
custom_viewport_x = 571
custom_viewport_y = 243
input_overlay = /opt/retropie/configs/all/retroarch/overlay/twocrude.cfg
input_overlay_opacity = "1.000000"

