#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/unsquad.cfg

custom_viewport_width = "863"
custom_viewport_height = "709"
custom_viewport_y = "181"
custom_viewport_x = "520"