#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/vanguard.cfg

custom_viewport_width = "533"
custom_viewport_height = "746"
custom_viewport_x = "713"
custom_viewport_y = "192"