#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 693
custom_viewport_width = 566
custom_viewport_x = 680
custom_viewport_y = 241
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/vanguard.cfg
input_overlay_opacity = "1.000000"

