#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/vertical.cfg"

custom_viewport_height = 687
custom_viewport_width = 580
custom_viewport_x = 675
custom_viewport_y = 180
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/vangrd2.cfg
input_overlay_hide_in_menu = "true"
input_overlay_opacity = "1.000000"

