#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/victory.cfg

custom_viewport_width = "782"
custom_viewport_height = "574"
custom_viewport_y = "204"
custom_viewport_x = "542"