#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/wacko.cfg

custom_viewport_width = "884"
custom_viewport_height = "644"
custom_viewport_x = "497"
custom_viewport_y = "209"