#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/wacko.cfg

custom_viewport_width = "884"
custom_viewport_height = "644"
custom_viewport_x = "497"
custom_viewport_y = "209"