#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/wboy.cfg

custom_viewport_width = "1026"
custom_viewport_height = "768"
custom_viewport_x = "447"
custom_viewport_y = "156"
