#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/tknight.cfg

custom_viewport_width = "762"
custom_viewport_height = "578"
custom_viewport_x = "609"
custom_viewport_y = "245"