#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/willow.cfg

custom_viewport_width = "774"
custom_viewport_height = "579"
custom_viewport_x = "551"
custom_viewport_y = "261"