#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_neogeo_red_bands.cfg

custom_viewport_width = 1025
custom_viewport_height = 791
custom_viewport_x = 457
custom_viewport_y = 141