#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_h.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/xenophob.cfg

custom_viewport_width = "987"
custom_viewport_height = "798"
custom_viewport_x = "462"
custom_viewport_y = "123"