#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/xxmissio.cfg

custom_viewport_width = "504"
custom_viewport_height = "696"
custom_viewport_x = "168"
custom_viewport_y = "714"