#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

custom_viewport_height = 645
custom_viewport_width = 813
custom_viewport_x = 550
custom_viewport_y = 120
input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/yiear.cfg
input_overlay_opacity = "1.000000"
