#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/zookeep.cfg

custom_viewport_width = "838"
custom_viewport_height = "604"
custom_viewport_y = "293"
custom_viewport_x = "555"