#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_v.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/zzyzzyxx.cfg

custom_viewport_width = "657"
custom_viewport_height = "900"
custom_viewport_x = "627"
custom_viewport_y = "87"