#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/horizontal.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/generic_neogeo_yellow_bands.cfg

custom_viewport_width = "1024"
custom_viewport_height = "790"
custom_viewport_x = "458"
custom_viewport_y = "152"