#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common_arcade_{{orientation}}.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade/{{game}}.cfg

custom_viewport_width = "{{width}}"
custom_viewport_height = "{{height}}"
custom_viewport_x = "{{x}}"
custom_viewport_y = "{{y}}"