#include "/opt/retropie/configs/all/retroarch/overlay/arcade-realistic/common/{{orientation}}.cfg"

input_overlay = /opt/retropie/configs/all/retroarch/overlay/arcade-realistic/{{game}}.cfg

custom_viewport_width = "{{width}}"
custom_viewport_height = "{{height}}"
custom_viewport_y = "{{y}}"
custom_viewport_x = "{{x}}"